[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://rospypi.github.io/simple/"
verify_ssl = true
name = "rospypi"

[packages]
rospy-util = {editable = true, git = "https://github.com/AHW214/rospy-util.git"}
kdtree = "*"
geometry-msgs = {version = "*", index = "rospypi"}
nav-msgs = {version = "*", index = "rospypi"}
rospy = {version = "*", index = "rospypi"}
sensor-msgs = {version = "*", index = "rospypi"}
tf = {version = "*", index = "rospypi"}

[dev-packages]
black = "*"

[requires]
python_version = "3.8.5"

[pipenv]
allow_prereleases = true
